table {
	border: solid 1px;
	margin: auto;
}

th {
	border: solid 1px;
}

.dashboard-metahtml-dialog {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	background-color: white;
	border-width: 1px;
	border-radius: 3px;
	border-color: gray;
	word-wrap: break-word;
}

.dashboard-url-balance {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: auto;
}

.dashboard-url {
	display: flex;
	justify-content: flex-start;
}

.dashboard-balance {
	display: flex;
	justify-content: flex-start;
}
